{% extends 'flashcards/base.html' %}
{% block content %}
  <form method=POST action="{% url 'flashcards:add_deck' %}">
    {% csrf_token %}
    <input id="add-deck-title" name="add-deck-title" type="text" value = "" placeholder="Enter a title" />
    <input id="add-deck" type="submit" value="Start New Deck" />
  </form>

  <table>
    <th>FlashCard Decks</th>
    {% for deck in decks %}
      <tr>
        <td><a id="deck-link-{{ forloop.counter }}"href="{% url 'flashcards:view_deck' deck.id %}">{{ deck.title }}</a></td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
